body {
    background-image: radial-gradient(rgb(165, 180, 252), rgb(192, 132, 252));
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
}



#title {
    text-align: center;
    margin: 20px;
}

#title h1 {
    color: white;
}

.featured {
    display: flex;
}

#featured-1 {
    flex: 1;
}

#featured-1 p {
    color: white;
    margin: 50px;
    font-size: 18px;
    max-width: 50%;
}


