body {
    background-image: radial-gradient(rgb(165, 180, 252), rgb(192, 132, 252));
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

#header {
    max-height: 6vh;
}

#header img {
    max-height: 12vh;
    margin: 7px;
    cursor: pointer;
}

#header a {
    position: absolute; 
    right: 20px; 
    top: 12px;
    background-color: #313eb6; 
    color: #fff; 
    padding: 10px 20px; 
    border-radius: 5px; 
    text-decoration: none; 
    z-index: 999; 
}


#title {
    text-align: center;
    margin: 20px;
}

#title h1 {
    color: white;
}

.featured {
    display: flex;
    margin: 70px;
}

.featured p {
    color: white;
    margin: 30px;
    font-size: 18px;
}

#featured-1 {
    flex: 1;
}

#featured-1 p {
    max-width: 50%;
}

#featured-2 p {
    margin-top: 80px;
}

#featured-4 p {
    max-width: 50%;
    margin-top: 60px;
}

#featured-5 p {
    margin-top: 80px;
}


